@model Employee
@{
    Layout = "_AddLayout";
    ViewBag.Title = "Add Employee";
}
<form asp-action="AddEmployee" method="post">
    <input type="hidden" asp-for="EmployeeID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="SecondName"></label>
        <div><span asp-validation-for="SecondName" class="text-danger"></span></div>
        <input asp-for="SecondName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" placeholder="example@mail.ru" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
        <input asp-for="PhoneNumber"  id="phone" class="form-control"/>
    </div>
    <br />
    <div class="form-group">
        <select class="form-control" asp-for="ChoosedProjectID">
            <option disabled selected value="">Choose a project</option>
            @foreach (var item in ViewBag.AllProjects)
            {
                <option value="@item.ProjectID">@item.ProjectName</option>
            }
        </select>
    </div>
    <br />
     <div class="form-group">
        <select class="form-control" asp-for="HeadOfProjectID">
            <option disabled selected value="">Choose a head of project</option>
            @foreach (var project in ViewBag.AllProjects)
            {
                @if (project.HeadOfProjectID == 0)
                {
                     <option value="@project.ProjectID">@project.ProjectName</option>
                }
            }
        </select>
    </div>
    <br />
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Add</button>
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </div>
</form>